www/assets/landingPage.xml

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservice.mpcd.solyn.in/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://webservice.mpcd.solyn.in/">
<script/>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="https://webservice.mpcd.solyn.in/">
<s:element name="LoadLandingData">
<s:complexType/>
</s:element>
<s:element name="LoadLandingDataResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadLandingDataResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="string" nillable="true" type="s:string"/>
</s:schema>
</wsdl:types>
<wsdl:message name="LoadLandingDataSoapIn">
<wsdl:part name="parameters" element="tns:LoadLandingData"/>
</wsdl:message>
<wsdl:message name="LoadLandingDataSoapOut">
<wsdl:part name="parameters" element="tns:LoadLandingDataResponse"/>
</wsdl:message>
<wsdl:message name="LoadLandingDataHttpGetIn"/>
<wsdl:message name="LoadLandingDataHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadLandingDataHttpPostIn"/>
<wsdl:message name="LoadLandingDataHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:portType name="LandingPageServiceSoap">
<wsdl:operation name="LoadLandingData">
<wsdl:input message="tns:LoadLandingDataSoapIn"/>
<wsdl:output message="tns:LoadLandingDataSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="LandingPageServiceHttpGet">
<wsdl:operation name="LoadLandingData">
<wsdl:input message="tns:LoadLandingDataHttpGetIn"/>
<wsdl:output message="tns:LoadLandingDataHttpGetOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="LandingPageServiceHttpPost">
<wsdl:operation name="LoadLandingData">
<wsdl:input message="tns:LoadLandingDataHttpPostIn"/>
<wsdl:output message="tns:LoadLandingDataHttpPostOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LandingPageServiceSoap" type="tns:LandingPageServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoadLandingData">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadLandingData" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LandingPageServiceSoap12" type="tns:LandingPageServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoadLandingData">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadLandingData" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LandingPageServiceHttpGet" type="tns:LandingPageServiceHttpGet">
<http:binding verb="GET"/>
<wsdl:operation name="LoadLandingData">
<http:operation location="/LoadLandingData"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="LandingPageServiceHttpPost" type="tns:LandingPageServiceHttpPost">
<http:binding verb="POST"/>
<wsdl:operation name="LoadLandingData">
<http:operation location="/LoadLandingData"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LandingPageService">
<wsdl:port name="LandingPageServiceSoap" binding="tns:LandingPageServiceSoap">
<soap:address location="https://webservice.mpcd.solyn.in/LandingPageService.asmx"/>
</wsdl:port>
<wsdl:port name="LandingPageServiceSoap12" binding="tns:LandingPageServiceSoap12">
<soap12:address location="https://webservice.mpcd.solyn.in/LandingPageService.asmx"/>
</wsdl:port>
<wsdl:port name="LandingPageServiceHttpGet" binding="tns:LandingPageServiceHttpGet">
<http:address location="https://webservice.mpcd.solyn.in/LandingPageService.asmx"/>
</wsdl:port>
<wsdl:port name="LandingPageServiceHttpPost" binding="tns:LandingPageServiceHttpPost">
<http:address location="https://webservice.mpcd.solyn.in/LandingPageService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>