src/assets/program.xml

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://webservice.mpcd.solyn.in/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://webservice.mpcd.solyn.in/">
<script/>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="https://webservice.mpcd.solyn.in/">
<s:element name="LoadUpcomingProgram">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadUpcomingProgramResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadUpcomingProgramResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadPastProgram">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadPastProgramResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadPastProgramResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadTodaysProgram">
<s:complexType/>
</s:element>
<s:element name="LoadTodaysProgramResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadTodaysProgramResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadLiveProgram">
<s:complexType/>
</s:element>
<s:element name="LoadLiveProgramResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadLiveProgramResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PopularProgramOfMonth">
<s:complexType/>
</s:element>
<s:element name="PopularProgramOfMonthResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="PopularProgramOfMonthResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadProgramByProgramId">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProgramId" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="AudienceId" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadProgramByProgramIdResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadProgramByProgramIdResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadProgramRatingReviewByProgramId">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProgramId" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="LoadProgramRatingReviewByProgramIdResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="LoadProgramRatingReviewByProgramIdResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="InsertProgramRatingReviewByAudienceId">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProgramId" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="AudienceId" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Review" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="InsertProgramRatingReviewByAudienceIdResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="InsertProgramRatingReviewByAudienceIdResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="string" nillable="true" type="s:string"/>
</s:schema>
</wsdl:types>
<wsdl:message name="LoadUpcomingProgramSoapIn">
<wsdl:part name="parameters" element="tns:LoadUpcomingProgram"/>
</wsdl:message>
<wsdl:message name="LoadUpcomingProgramSoapOut">
<wsdl:part name="parameters" element="tns:LoadUpcomingProgramResponse"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramSoapIn">
<wsdl:part name="parameters" element="tns:LoadPastProgram"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramSoapOut">
<wsdl:part name="parameters" element="tns:LoadPastProgramResponse"/>
</wsdl:message>
<wsdl:message name="LoadTodaysProgramSoapIn">
<wsdl:part name="parameters" element="tns:LoadTodaysProgram"/>
</wsdl:message>
<wsdl:message name="LoadTodaysProgramSoapOut">
<wsdl:part name="parameters" element="tns:LoadTodaysProgramResponse"/>
</wsdl:message>
<wsdl:message name="LoadLiveProgramSoapIn">
<wsdl:part name="parameters" element="tns:LoadLiveProgram"/>
</wsdl:message>
<wsdl:message name="LoadLiveProgramSoapOut">
<wsdl:part name="parameters" element="tns:LoadLiveProgramResponse"/>
</wsdl:message>
<wsdl:message name="PopularProgramOfMonthSoapIn">
<wsdl:part name="parameters" element="tns:PopularProgramOfMonth"/>
</wsdl:message>
<wsdl:message name="PopularProgramOfMonthSoapOut">
<wsdl:part name="parameters" element="tns:PopularProgramOfMonthResponse"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdSoapIn">
<wsdl:part name="parameters" element="tns:LoadProgramByProgramId"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdSoapOut">
<wsdl:part name="parameters" element="tns:LoadProgramByProgramIdResponse"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdSoapIn">
<wsdl:part name="parameters" element="tns:LoadProgramRatingReviewByProgramId"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdSoapOut">
<wsdl:part name="parameters" element="tns:LoadProgramRatingReviewByProgramIdResponse"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdSoapIn">
<wsdl:part name="parameters" element="tns:InsertProgramRatingReviewByAudienceId"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdSoapOut">
<wsdl:part name="parameters" element="tns:InsertProgramRatingReviewByAudienceIdResponse"/>
</wsdl:message>
<wsdl:message name="LoadUpcomingProgramHttpGetIn">
<wsdl:part name="Count" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadUpcomingProgramHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramHttpGetIn">
<wsdl:part name="Count" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadTodaysProgramHttpGetIn"/>
<wsdl:message name="LoadTodaysProgramHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadLiveProgramHttpGetIn"/>
<wsdl:message name="LoadLiveProgramHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="PopularProgramOfMonthHttpGetIn"/>
<wsdl:message name="PopularProgramOfMonthHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdHttpGetIn">
<wsdl:part name="ProgramId" type="s:string"/>
<wsdl:part name="AudienceId" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdHttpGetIn">
<wsdl:part name="ProgramId" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdHttpGetIn">
<wsdl:part name="ProgramId" type="s:string"/>
<wsdl:part name="AudienceId" type="s:string"/>
<wsdl:part name="Rating" type="s:string"/>
<wsdl:part name="Review" type="s:string"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdHttpGetOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadUpcomingProgramHttpPostIn">
<wsdl:part name="Count" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadUpcomingProgramHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramHttpPostIn">
<wsdl:part name="Count" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadPastProgramHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadTodaysProgramHttpPostIn"/>
<wsdl:message name="LoadTodaysProgramHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadLiveProgramHttpPostIn"/>
<wsdl:message name="LoadLiveProgramHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="PopularProgramOfMonthHttpPostIn"/>
<wsdl:message name="PopularProgramOfMonthHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdHttpPostIn">
<wsdl:part name="ProgramId" type="s:string"/>
<wsdl:part name="AudienceId" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramByProgramIdHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdHttpPostIn">
<wsdl:part name="ProgramId" type="s:string"/>
</wsdl:message>
<wsdl:message name="LoadProgramRatingReviewByProgramIdHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdHttpPostIn">
<wsdl:part name="ProgramId" type="s:string"/>
<wsdl:part name="AudienceId" type="s:string"/>
<wsdl:part name="Rating" type="s:string"/>
<wsdl:part name="Review" type="s:string"/>
</wsdl:message>
<wsdl:message name="InsertProgramRatingReviewByAudienceIdHttpPostOut">
<wsdl:part name="Body" element="tns:string"/>
</wsdl:message>
<wsdl:portType name="ProgramServiceSoap">
<wsdl:operation name="LoadUpcomingProgram">
<wsdl:input message="tns:LoadUpcomingProgramSoapIn"/>
<wsdl:output message="tns:LoadUpcomingProgramSoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<wsdl:input message="tns:LoadPastProgramSoapIn"/>
<wsdl:output message="tns:LoadPastProgramSoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<wsdl:input message="tns:LoadTodaysProgramSoapIn"/>
<wsdl:output message="tns:LoadTodaysProgramSoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<wsdl:input message="tns:LoadLiveProgramSoapIn"/>
<wsdl:output message="tns:LoadLiveProgramSoapOut"/>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<wsdl:input message="tns:PopularProgramOfMonthSoapIn"/>
<wsdl:output message="tns:PopularProgramOfMonthSoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<wsdl:input message="tns:LoadProgramByProgramIdSoapIn"/>
<wsdl:output message="tns:LoadProgramByProgramIdSoapOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<wsdl:input message="tns:LoadProgramRatingReviewByProgramIdSoapIn"/>
<wsdl:output message="tns:LoadProgramRatingReviewByProgramIdSoapOut"/>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<wsdl:input message="tns:InsertProgramRatingReviewByAudienceIdSoapIn"/>
<wsdl:output message="tns:InsertProgramRatingReviewByAudienceIdSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="ProgramServiceHttpGet">
<wsdl:operation name="LoadUpcomingProgram">
<wsdl:input message="tns:LoadUpcomingProgramHttpGetIn"/>
<wsdl:output message="tns:LoadUpcomingProgramHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<wsdl:input message="tns:LoadPastProgramHttpGetIn"/>
<wsdl:output message="tns:LoadPastProgramHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<wsdl:input message="tns:LoadTodaysProgramHttpGetIn"/>
<wsdl:output message="tns:LoadTodaysProgramHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<wsdl:input message="tns:LoadLiveProgramHttpGetIn"/>
<wsdl:output message="tns:LoadLiveProgramHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<wsdl:input message="tns:PopularProgramOfMonthHttpGetIn"/>
<wsdl:output message="tns:PopularProgramOfMonthHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<wsdl:input message="tns:LoadProgramByProgramIdHttpGetIn"/>
<wsdl:output message="tns:LoadProgramByProgramIdHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<wsdl:input message="tns:LoadProgramRatingReviewByProgramIdHttpGetIn"/>
<wsdl:output message="tns:LoadProgramRatingReviewByProgramIdHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<wsdl:input message="tns:InsertProgramRatingReviewByAudienceIdHttpGetIn"/>
<wsdl:output message="tns:InsertProgramRatingReviewByAudienceIdHttpGetOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="ProgramServiceHttpPost">
<wsdl:operation name="LoadUpcomingProgram">
<wsdl:input message="tns:LoadUpcomingProgramHttpPostIn"/>
<wsdl:output message="tns:LoadUpcomingProgramHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<wsdl:input message="tns:LoadPastProgramHttpPostIn"/>
<wsdl:output message="tns:LoadPastProgramHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<wsdl:input message="tns:LoadTodaysProgramHttpPostIn"/>
<wsdl:output message="tns:LoadTodaysProgramHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<wsdl:input message="tns:LoadLiveProgramHttpPostIn"/>
<wsdl:output message="tns:LoadLiveProgramHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<wsdl:input message="tns:PopularProgramOfMonthHttpPostIn"/>
<wsdl:output message="tns:PopularProgramOfMonthHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<wsdl:input message="tns:LoadProgramByProgramIdHttpPostIn"/>
<wsdl:output message="tns:LoadProgramByProgramIdHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<wsdl:input message="tns:LoadProgramRatingReviewByProgramIdHttpPostIn"/>
<wsdl:output message="tns:LoadProgramRatingReviewByProgramIdHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<wsdl:input message="tns:InsertProgramRatingReviewByAudienceIdHttpPostIn"/>
<wsdl:output message="tns:InsertProgramRatingReviewByAudienceIdHttpPostOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProgramServiceSoap" type="tns:ProgramServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoadUpcomingProgram">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadUpcomingProgram" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadPastProgram" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadTodaysProgram" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadLiveProgram" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/PopularProgramOfMonth" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadProgramByProgramId" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/LoadProgramRatingReviewByProgramId" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<soap:operation soapAction="https://webservice.mpcd.solyn.in/InsertProgramRatingReviewByAudienceId" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ProgramServiceSoap12" type="tns:ProgramServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoadUpcomingProgram">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadUpcomingProgram" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadPastProgram" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadTodaysProgram" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadLiveProgram" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/PopularProgramOfMonth" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadProgramByProgramId" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/LoadProgramRatingReviewByProgramId" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<soap12:operation soapAction="https://webservice.mpcd.solyn.in/InsertProgramRatingReviewByAudienceId" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ProgramServiceHttpGet" type="tns:ProgramServiceHttpGet">
<http:binding verb="GET"/>
<wsdl:operation name="LoadUpcomingProgram">
<http:operation location="/LoadUpcomingProgram"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<http:operation location="/LoadPastProgram"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<http:operation location="/LoadTodaysProgram"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<http:operation location="/LoadLiveProgram"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<http:operation location="/PopularProgramOfMonth"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<http:operation location="/LoadProgramByProgramId"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<http:operation location="/LoadProgramRatingReviewByProgramId"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<http:operation location="/InsertProgramRatingReviewByAudienceId"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ProgramServiceHttpPost" type="tns:ProgramServiceHttpPost">
<http:binding verb="POST"/>
<wsdl:operation name="LoadUpcomingProgram">
<http:operation location="/LoadUpcomingProgram"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadPastProgram">
<http:operation location="/LoadPastProgram"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadTodaysProgram">
<http:operation location="/LoadTodaysProgram"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadLiveProgram">
<http:operation location="/LoadLiveProgram"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PopularProgramOfMonth">
<http:operation location="/PopularProgramOfMonth"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramByProgramId">
<http:operation location="/LoadProgramByProgramId"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LoadProgramRatingReviewByProgramId">
<http:operation location="/LoadProgramRatingReviewByProgramId"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InsertProgramRatingReviewByAudienceId">
<http:operation location="/InsertProgramRatingReviewByAudienceId"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:mimeXml part="Body"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ProgramService">
<wsdl:port name="ProgramServiceSoap" binding="tns:ProgramServiceSoap">
<soap:address location="https://webservice.mpcd.solyn.in/ProgramService.asmx"/>
</wsdl:port>
<wsdl:port name="ProgramServiceSoap12" binding="tns:ProgramServiceSoap12">
<soap12:address location="https://webservice.mpcd.solyn.in/ProgramService.asmx"/>
</wsdl:port>
<wsdl:port name="ProgramServiceHttpGet" binding="tns:ProgramServiceHttpGet">
<http:address location="https://webservice.mpcd.solyn.in/ProgramService.asmx"/>
</wsdl:port>
<wsdl:port name="ProgramServiceHttpPost" binding="tns:ProgramServiceHttpPost">
<http:address location="https://webservice.mpcd.solyn.in/ProgramService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>